repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=2000']
        exclude: '^(models/|notebooks-PoCs/|backend/uv\.lock).*$'

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.3
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: mypy-backend
        name: mypy-backend
        entry: uv run --directory backend mypy .
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false
